#stopwatch{
    border: 3px solid red;
    width: 20%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
table{
    border: 1px solid black;
    margin: auto;
    font-size: 20px;
    width: 50%;

}

th,td{
    border: 1px solid red;
}